# Node Identity
NODE_ID=node_01
LOCATION=living_room

# Database
DB_HOST=127.0.0.1
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# SSH Tunnel
SSH_USER=YOUR_VPS_USERNAME
SSH_HOST=YOUR_VPS_IP
