[Unit]
Description=SCADA Environment Logger
After=network.target

[Service]
ExecStartPre=/bin/bash -c 'ssh -f -N -L 3306:127.0.0.1:3306 ${SSH_USER}@${SSH_HOST}; ssh -f -N -R 8081:localhost:8081 ${SSH_USER}@${SSH_HOST}; sleep 2'
ExecStart=/usr/bin/python3 /home/patrick/scada-hmi/pi/log_environment.py
User=patrick
Restart=always
RestartSec=10
Environment="SSH_USER=pgannon"
Environment="SSH_HOST=69.48.207.60"

[Install]
WantedBy=multi-user.target